.main{
            border: 5px;
            border-left-style: solid;
            border-left-color: green;
	        width: 200px;
            background-color: purple;
            padding: 10px;
	        font-size: 20px;
        }
        .main h1 a{
            color: white;
        }